:root {
    --main-text-color: #FFFFFF;
    --second-text-color: #000000;
    --accent-text-color: #08FF88;
    --footer-text-color: #545454;
    --footer-bg-color: #F7F7F7;
    --modal-bg-color: #FFFFFF;
    --backdrop-bg-color: #1A1A1A;
    --modal-first-text-color: #000000;
    --modal-second-text-color: #8c8c8c;
    --modal-third-text-color: #FFFFFF;
    --card-color: #08FF88;
    --header-btn-hover-color: #08FF88;
}